.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.3rem;
  gap: 5px;
  font-family: "PT Sans", sans-serif;
}
.pagination .page-num {
  padding: 8px 13px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}
.pagination .page-num:hover {
  background-color: #343a40;
  color: #fff;
}
.pagination .active {
  background-color: #343a40;
  color: #fff;
}
